<a href="https://colab.research.google.com/github/SoumyajeetM/Data_Science/blob/main/DigiAlly_web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://www.equitypandit.com/historical-data/532540"
r = requests.get(url)
print(r.status_code)
soup = BeautifulSoup(r.text , "lxml")

200

In [ ]:
table = soup.find_all("table")[0]
td = table.find_all("td")

In [ ]:
features = []
for i in td:
    a = i.text.strip()
    features.append(a)

In [ ]:
result = []
for i in range(7):
    result.append(features[i:8687:7])

In [ ]:
df = pd.DataFrame(list(zip(result[0],result[1],result[2],result[3],result[4],result[5],result[6])))

In [ ]:
df.columns = ["Date","Price","Open","High","Low","Volume","Change(%)"]

In [ ]:
df.head()

          Date    Price     Open     High      Low   Volume Change(%)
0  18 Oct 2024  4123.05  4090.00  4146.15  4080.00  2361000     0.34%
1  17 Oct 2024  4109.00  4112.80  4129.95  4092.95  2522659     0.34%
2  16 Oct 2024  4094.95  4085.00  4115.00  4067.20  2359151    -0.53%
3  15 Oct 2024  4116.80  4131.05  4169.95  4095.00  2759474    -0.48%
4  14 Oct 2024  4136.65  4140.00  4165.40  4122.20  2137590    -0.30%

In [1]:
import yfinance as yf
import pandas as pd

# List of companies with their ticker symbols
companies = {
    'Apple': 'AAPL',
    'Facebook': 'META',
    'Google': 'GOOGL',
    'Amazon': 'AMZN',
    'Netflix': 'NFLX'
}

# Define the start date
start_date = '2005-01-01'

# DataFrame to store the data
data = pd.DataFrame()

# Fetch data for each company
for company_name, ticker in companies.items():
    # Get historical market data from start_date to today
    stock_data = yf.download(ticker, start=start_date)

    # Get company info
    info = yf.Ticker(ticker).info

    # Prepare a DataFrame with relevant data
    company_data = pd.DataFrame({
        'Company': company_name,
        'Ticker': ticker,
        'Date': stock_data.index,
        'Open': stock_data['Open'],
        'High': stock_data['High'],
        'Low': stock_data['Low'],
        'Close': stock_data['Close'],
        'Adj Close': stock_data['Adj Close'],
        'Volume': stock_data['Volume'],
        'Market Cap': info.get('marketCap', None),
        'PE Ratio': info.get('trailingPE', None),
        'Beta': info.get('beta', None),
        'EPS': info.get('trailingEps', None),
        'Forward PE': info.get('forwardPE', None),
        'Revenue': info.get('revenue', None),
        'Gross Profit': info.get('grossProfits', None),
        'Operating Income': info.get('operatingIncome', None),
        'Net Income': info.get('netIncomeToCommon', None),
        'Debt to Equity': info.get('debtToEquity', None),
        'Return on Equity (ROE)': info.get('returnOnEquity', None),
        'Current Ratio': info.get('currentRatio', None),
        'Dividends Paid': info.get('lastDividendValue', None),
        'Dividend Yield': info.get('dividendYield', None),
        'Quarterly Revenue Growth': info.get('revenueGrowth', None),
        'Analyst Recommendation': info.get('recommendationKey', None),
        'Target Price': info.get('targetMeanPrice', None),
        'Free Cash Flow': info.get('freeCashflow', None),
        'Operating Margin': info.get('operatingMargins', None),
        'Profit Margin': info.get('profitMargins', None),
        'Cash Ratio': info.get('cashRatio', None),
        'Quick Ratio': info.get('quickRatio', None),
        'Price to Book Ratio': info.get('priceToBook', None),
        'Enterprise Value': info.get('enterpriseValue', None),
        'Total Debt': info.get('totalDebt', None),
        'Total Assets': info.get('totalAssets', None),
        'Total Equity': info.get('totalStockholderEquity', None),
        'Beta (5Y)': info.get('beta', None),  # Historical volatility over 5 years
        'Annual Dividend Rate': info.get('dividendRate', None),  # Annual dividends
        'Trailing Twelve Months (TTM) Revenue': info.get('revenueTTM', None),
        'Trailing Twelve Months (TTM) EBITDA': info.get('ebitdaTTM', None),
        'Trailing Twelve Months (TTM) Earnings': info.get('netIncomeTTM', None)
    })

    # Append company data to the main DataFrame
    data = pd.concat([data, company_data], ignore_index=True)

# Display the dataset
print(data)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
<ipython-input-1-37149018fe6c>:73: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([data, company_data], ignore_index=True)
[*********************100%***********************]  1 of 1 completed
<ipython-input-1-37149018fe6c>:73: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([data, company_data], ignore_index=True)

       Company Ticker       Date        Open        High         Low  \
0        Apple   AAPL 2005-01-03    1.156786    1.162679    1.117857
1        Apple   AAPL 2005-01-04    1.139107    1.169107    1.124464
2        Apple   AAPL 2005-01-05    1.151071    1.165179    1.143750
3        Apple   AAPL 2005-01-06    1.154821    1.159107    1.130893
4        Apple   AAPL 2005-01-07    1.160714    1.243393    1.156250
...        ...    ...        ...         ...         ...         ...
23052  Netflix   NFLX 2024-10-14  725.000000  726.619995  711.309998
23053  Netflix   NFLX 2024-10-15  712.510010  713.400024  699.780029
23054  Netflix   NFLX 2024-10-16  703.429993  705.590027  697.820007
23055  Netflix   NFLX 2024-10-17  704.349976  704.409973  677.880005
23056  Netflix   NFLX 2024-10-18  737.640015  766.281006  736.229980

            Close   Adj Close      Volume     Market Cap  ...  \
0        1.130179    0.954408   691992000  3572963475456  ...
1        1.141786    0.964210  1096810400  3572963475456  ...
2        1.151786    0.972655   680433600  3572963475456  ...
3        1.152679    0.973409   705555200  3572963475456  ...
4        1.236607    1.044284  2227450400  3572963475456  ...
...           ...         ...         ...            ...  ...
23052  713.000000  713.000000     2797100   327834861568  ...
23053  705.979980  705.979980     2932800   327834861568  ...
23054  702.000000  702.000000     2494300   327834861568  ...
23055  687.650024  687.650024     8820000   327834861568  ...
23056  763.890015  763.890015    15827594   327834861568  ...

       Price to Book Ratio  Enterprise Value    Total Debt  Total Assets  \
0                53.628480     3612475129856  101304000512          None
1                53.628480     3612475129856  101304000512          None
2                53.628480     3612475129856  101304000512          None
3                53.628480     3612475129856  101304000512          None
4                53.628480     3612475129856  101304000512          None
...                    ...               ...           ...           ...
23052            14.397806      336659841024   18756288512          None
23053            14.397806      336659841024   18756288512          None
23054            14.397806      336659841024   18756288512          None
23055            14.397806      336659841024   18756288512          None
23056            14.397806      336659841024   18756288512          None

      Total Equity Beta (5Y) Annual Dividend Rate  \
0             None     1.239                  1.0
1             None     1.239                  1.0
2             None     1.239                  1.0
3             None     1.239                  1.0
4             None     1.239                  1.0
...            ...       ...                  ...
23052         None     1.261                  NaN
23053         None     1.261                  NaN
23054         None     1.261                  NaN
23055         None     1.261                  NaN
23056         None     1.261                  NaN

       Trailing Twelve Months (TTM) Revenue  \
0                                      None
1                                      None
2                                      None
3                                      None
4                                      None
...                                     ...
23052                                  None
23053                                  None
23054                                  None
23055                                  None
23056                                  None

       Trailing Twelve Months (TTM) EBITDA  \
0                                     None
1                                     None
2                                     None
3                                     None
4                                     None
...                                    ...
23052                                 None
23053                                 None
23054                                 None
23055                                 None
23056                                 None

       Trailing Twelve Months (TTM) Earnings
0                                       None
1                                       None
2                                       None
3                                       None
4                                       None
...                                      ...
23052                                   None
23053                                   None
23054                                   None
23055                                   None
23056                                   None

[23057 rows x 41 columns]

In [2]:
data.head()

,Company,Ticker,Date,Open,High,Low,Close,Adj Close,Volume,Market Cap,...,Price to Book Ratio,Enterprise Value,Total Debt,Total Assets,Total Equity,Beta (5Y),Annual Dividend Rate,Trailing Twelve Months (TTM) Revenue,Trailing Twelve Months (TTM) EBITDA,Trailing Twelve Months (TTM) Earnings
0,Apple,AAPL,2005-01-03,1.156786,1.162679,1.117857,1.130179,0.954408,691992000,3572963475456,...,53.62848,3612475129856,101304000512,None,None,1.239,1.0,None,None,None
1,Apple,AAPL,2005-01-04,1.139107,1.169107,1.124464,1.141786,0.964210,1096810400,3572963475456,...,53.62848,3612475129856,101304000512,None,None,1.239,1.0,None,None,None
2,Apple,AAPL,2005-01-05,1.151071,1.165179,1.143750,1.151786,0.972655,680433600,3572963475456,...,53.62848,3612475129856,101304000512,None,None,1.239,1.0,None,None,None
3,Apple,AAPL,2005-01-06,1.154821,1.159107,1.130893,1.152679,0.973409,705555200,3572963475456,...,53.62848,3612475129856,101304000512,None,None,1.239,1.0,None,None,None
4,Apple,AAPL,2005-01-07,1.160714,1.243393,1.156250,1.236607,1.044284,2227450400,3572963475456,...,53.62848,3612475129856,101304000512,None,None,1.239,1.0,None,None,None